# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a


*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/default.*
*/*xcodeproj/*.xcworkspace/
*/*.xcodeproj/xcshareddata/
*/*.xcodeproj/xcuserdata/
*.app
build/

*.wav
*.aif
*.aiff
*.raw
*.asd
*.mov
